.navstyle{
    background-color: #ffffff;
     
     padding-top: 0;
     padding-bottom: 0;
}
.name-text{
    background-color: #59aaa5;
     height: 100%;
     line-height: 2;
     font-size: 27px;
     
}