body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/funky-lines/funky-lines.png)!important;
    
}

.navstyle{
    background-color: #ffffff;
     
     padding-top: 0;
     padding-bottom: 0;
}
.name-text{
    background-color: #59aaa5;
     height: 100%;
     line-height: 2;
     font-size: 27px;
     
}

.jumbotron{
    background-color: #ffffff;
}

.jumbo-head{
    color: #59aaa5;

}
.headshot{
    height: 200px;
    margin:20px;
}
.portfolioImg{
    height: 200px;
}
.img-text{
    z-index: 2;
    position: relative;
    bottom: 40px;
    background-color: #4aaaa5;
    width: 355.5px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    color: #ffffff;
    
}
/* footer text style */
h5{
    color: #ccc1c1;
    font-size: 12px;
    
}
.footerborder{
    background-color: #707272; 
    border-width: 10px !important; 
    border-color: #59aaa5 !important;
}
